

*::selection {
    background: yellow;
  }

  /* main css */

  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1em;  
    line-height: 1.5;
    background-color: white;
    color: #333333;
}

#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #333333;
}

#title{
    text-align: center;
}
#title h1{
    font-size: 2.5em;
    line-height: 0.5;
}

#img-div{
    background:white;
    padding: 10px;
    margin:0;
}
#image{
    display:block;
    max-width:100%;
    margin:0 auto;
    height:auto;
}
#img-caption{
    padding:10px;
    text-align: center;
}
#tribute-info h3{
    text-align:center;
   margin: 50px 0;
}
ul{
    margin:0 auto 50px auto;
    max-width:550px;
    text-align: left;
}

#tribute-info li{
     margin:15px 0;
}
#quote-container{
    max-width: 550px;
    margin:0 auto;
    font-style: italic;
}
#footer{
    text-align: center;
    margin-top: 50px;
    font-size:20px;
    font-weight: bold;
    color: #333333;
}
#tribute-link{
    color: #74638F;
}